.container {
    display: flex;
    justify-content: space-around;
}

.select-opponent-button {
    display: flex;
    width: 100%;
    transition: 0.3s background-color;
}

.select-opponent-button:hover {
    background-color: rgb(252, 222, 238);
}