* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: black;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
    font-weight: lighter;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Barlow", sans-serif;
}