.container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    row-gap: 0.25rem;
}

.title{
    display: flex;
    font-size: 12px;
}

.game-title{
    color: white;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.5rem;
}

.chess-board {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column-reverse;
    width: 475px;
    height: 475px;
    /* background-color:#af7799; */
    /* background-color:#a077af; */
    background-color:#c09d3d;
    border-radius: 5px;
}

.rotated {
    transform: rotate(180deg);
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 1px solid pink;
    background-color: white;
    border-radius: 5px;
}


.game-over-message {
    color: white;
    margin-top: 10px;
}

.promotion-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

.promotion-dialog img {
    height: 70px;
    cursor: pointer;
}

.close-promotion-dialog {
    font-size: 45px;
    cursor: pointer;
    color: white;
}

.dark {
    background-color: #af7799
    /* background-color: #779AAF */
}

.light {
    background-color: #e8d9e3;
    /* background-color: #D9E4E8; */
}

.piece {
    width: 50px;
}

.flip-button{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 0.35em 0rem;
    width: 475px;
    border-radius: 5px;
    background-color: rgb(255, 192, 218);
    transition: ease-out 0.25s;
}

.flip-button:hover {
    box-shadow: inset 475px 0 0 0 rgba(255, 107, 186, 0.918);
}

.flip-button:active {
    background-color: rgba(255, 192, 218, 0.688);
}

.selected-square {
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.safe-square {
    position: absolute;
    overflow-y: none;
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 100;
}

.king-in-check {
    box-shadow: inset rgb(179, 21, 0) 0px 0px 40px 0px, inset rgb(163, 11, 0) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.last-move {
    box-shadow: inset rgb(6, 179, 0) 0px 0px 40px 0px, inset rgb(6, 179, 0)0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.promotion-square {
    box-shadow: inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}