<div class="chess-board">
    <div *ngFor="let row of chessBoardView; let x = index" class="row">
        <!-- Using a global/public method for isSquareDark() created in chess-board.ts, and we are appending an Angular class to the div to implement it -->
        <div *ngFor="let piece of row; let y = index" class="square" [ngClass]="{'dark': isSquareDark(x,y), 'light': !isSquareDark(x,y)}">
            <!-- Image tag will only exist if the piece is different from the present. Source stock is appended -->
            <img *ngIf="piece" [src]="pieceImagePaths[piece]" [alt]="piece" class="piece">
            <!-- Piece class only sets pixel width of each image -->
        </div>
    </div>
</div>